.agreement {
    width: 80vw;
    height: 85vh;
    position: relative;
    overflow-y: scroll;
    padding: 30px 30px 0 30px;
    border-radius: 8px;
}


.agreement h2 {
    font-size: 32px;
    margin-bottom: 25px;
}

.subtitle {
    max-width: 90%;
    font-size: 16px;
    margin: 0 auto 90px;
    color: rgba(255, 255, 255, 0.25);
}


.selected-tab {
    transition: 0.35s ease all;
    color: var(--gradient-B);
}


.tabs {
    display: grid;
    grid-template-columns: minmax(min-content, 25%) 1fr;
    grid-template-rows: max-content;
    gap: 50px;
}

.tab {
    position: relative;
}

.tab:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -25px;
    height: var(--height);
    width: 1px;
    background: rgba(255, 255, 255, 0.15);
}


.tab-list {
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.3);

}


.tab-list li {
    cursor: pointer;
    outline: none;
}

.tab-list li:not(:last-child) {
    margin-bottom: 65px;
}

.tab-panel ul {
    counter-reset: item;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.tab-panel li span {
    color: white;
    font-weight: 600;
    margin-right: 4px;
}

.tab-panel > ul > li:not(:last-child) {
    margin-bottom: 50px;
}

.tab-panel ul li ul li {
    margin-top: 5px;
    padding-left: 15px;
}

.buttons {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    gap: 50px;
}



@media screen and (max-width: 1200px) {
    .agreement {
        padding: 10px 10px 0 10px;
    }

    .subtitle {
        max-width: 100%;
    }

    .tab-list {
        font-size: 18px;
    }

    .tab-list li:not(:last-child) {
        margin-bottom: 40px;
    }

    .tab-panel ul {
        font-size: 16px;
    }

    .tab-panel > ul > li:not(:last-child) {
        margin-bottom: 30px;
    }

    .buttons {
        gap: 25px;
    }
}

@media screen and (max-width: 1024px) {
    .agreement {
        width: 90vw;
    }

    .tab-list {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .agreement h2 {
        font-size: 28px;
    }

    .tabs {
        grid-template-columns: 1fr;
    }

    .tab-list {
        font-size: 16px;
    }

    .tab-list li:not(:last-child) {
        margin-bottom: 10px;
    }

    .tab:before {
        content: none;
    }

    .buttons {
        margin-top: 30px;
    }
}

@media screen and (max-width: 480px) {
    .agreement {
        width: 95vw;
        padding: 5px 5px 0 5px;
    }

    .agreement h2 {
        font-size: 24px;
    }

    .subtitle {
        font-size: 12px !important;
    }

    .tab-list {
        font-size: 16px;
    }

    .tab-list li:not(:last-child) {
        margin-bottom: 10px;
    }

    .tab-panel ul {
        font-size: 14px;
    }

    .tab-panel > ul > li:not(:last-child) {
        margin-bottom: 15px;
    }

}