.user-info {
    position: relative;
    //width: 100%;
    display: flex;
    flex-direction: column;
}

.user-info h3 {
    font-size: 44px;
}

.inputs-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 50px;
    row-gap: 30px;
    margin-top: auto;
}

.inputs-wrapper label p {
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 10px;
    font-size: 14px;
}

.inputs-wrapper input {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.03);
    color: rgba(255, 255, 255, 0.75);
    font-family: inherit;
    font-size: 16px;
    padding: 24px;
    box-shadow: 0 29px 58px 0 rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 8px;
    transition: 0.4s ease all;
    outline: 2px solid transparent;
}

.inputs-wrapper input:disabled {
    color: rgba(255, 255, 255, 0.3);
}

.inputs-wrapper input:focus {
    outline: 2px solid rgb(121, 87, 255);
}

.input-wrapper {
    position: relative;
}


.nickname, .first-name, .last-name, .email{
    grid-column: auto / span 3;
}


.old-password, .new-password, .confirm-password, .phone-number, .telegram, .vkontakte  {
    grid-column: auto / span 2;
}

.update-info-button {
    width: calc(33% - 25px);
    position: absolute;
    bottom: -75px;
    box-shadow: 0 3px 56px 0 rgba(42, 6, 184, 0.6);
}

.update-info-button:disabled {
    width: calc(33% - 25px);
    background: #e9e9e9;
    color: #858585;
    cursor: not-allowed;
}

@media screen and (max-width: 1350px) {
    .inputs-wrapper {
        column-gap: 15px;
        row-gap: 10px;
    }

    .inputs-wrapper input {
        padding: 20px;
        font-size: 14px;
    }

    .update-info-button {
        padding: 14px 25px;
    }
}

@media screen and (max-width: 1024px) {
    .user-info h3 {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 768px) {
    .old-password, .new-password, .confirm-password, .phone-number, .telegram, .vkontakte  {
        grid-column: auto / span 3;
    }
}

@media screen and (max-width: 580px) {
    .inputs-wrapper {
        grid-template-columns: 1fr;
    }

    .update-info-button {
        width: 100%;
    }
}
