.success {
    position: relative;
    max-width: 550px;
    padding: 40px;
}

.success:before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    padding: 2px;
    border-radius: 8px;
    background: linear-gradient(180deg, rgba(124, 124, 124, 0.25) 0%, rgba(87, 87, 87, 0) 100%);
    -webkit-mask:
            linear-gradient(#ffffff 0 0) content-box,
            linear-gradient(#b9b9b9 0 0);
    mask:
            linear-gradient(#000000 0 0) content-box,
            linear-gradient(#000000 0, 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.success h3 {
    font-size: 34px !important;
}

.success p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.6;
}

.buttons a:first-child button {
    margin-right: 20px;
    background: linear-gradient(90deg, rgba(121, 87, 255, 0.2) 0%, rgba(168, 36, 230, 0.2) 100%);
}


@media screen and (max-width: 768px) {
    .success {
        max-width: 400px;
    }

    .success > img {
        width: 130px;
        height: 130px;
        margin-bottom: 10px !important;
    }

    .success > h3 {
        font-size: 26px !important;
        margin-bottom: 30px !important;
    }

    .success p {
        font-size: 14px;
    }

    .success > div > p:not(:last-child) {
        margin-bottom: 10px;
    }

    .success div:first-of-type {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 480px) {
    .success {
        padding: 20px;
    }

    .success > img {
        width: 100px;
        height: 100px;
    }

    .success > h3 {
        //font-size: 20px !important;
        margin-bottom: 40px !important;
    }
}