.success {
    position: relative;
    max-width: 550px;
    padding: 40px;
}

.success h3 {
    font-size: 34px !important;
}

.success p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.6;
}

.buttons a:first-child button {
    margin-right: 20px;
    background: linear-gradient(90deg, rgba(121, 87, 255, 0.2) 0%, rgba(168, 36, 230, 0.2) 100%);
}


@media screen and (max-width: 768px) {
    .success {
        max-width: 400px;
    }

    .success > img {
        width: 130px;
        height: 130px;
        margin-bottom: 10px !important;
    }

    .success > h3 {
        font-size: 26px !important;
        margin-bottom: 30px !important;
    }

    .success p {
        font-size: 14px;
    }

    .success > div > p:not(:last-child) {
        margin-bottom: 10px;
    }

    .success div:first-of-type {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 480px) {
    .success {
        padding: 20px;
    }

    .success > img {
        width: 100px;
        height: 100px;
    }

    .success > h3 {
        //font-size: 20px !important;
        margin-bottom: 40px !important;
    }
}