.wrapper {
    width: 90vw;
    height: 85vh;
    padding: 25px 0;
    overflow-y: scroll;
    position: relative;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
}


.wrapper::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.tab-list {
    display: flex;
    justify-content: space-between;

    max-width: 80%;
    margin: 0 auto 30px;
    border-radius: 6px;
    gap: 15px;
}

.tab {
    cursor: pointer;
    transition: 0.5s ease all;
    flex-grow: 1;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.7);
    background: #F2F2F2;
}

.selected-tab {
    color: white !important;
    background: var(--gradient-A);
}

.selected-tab svg path {
    fill: white;
}

.tab-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 15px 20px;
}

.tab-icon {
    margin-right: 5px;
}

.tab-icon path {
    fill: rgba(0, 0, 0, 0.7);
    transition: 0.35s ease all;
}

.name {
    max-width: 100% !important;
    margin: 0 auto 30px;
    font-size: clamp(18px, 4vw, 38px) !important;
    font-weight: 400;
    text-transform: uppercase;
}

.name span {
    color: rgba(255, 255, 255, 0.3);
}


.images {
    display: grid;
    grid-template-columns: minmax(0, calc(80% - 15%)) 15%;
    justify-content: center;
    position: relative;
    margin: 50px auto;
    width: 100%;
}

.images img {
    object-fit: contain;
}


.slider-for {
    position: relative;
    padding: 0 10px;
    margin: 0 auto;
    max-width: 100%;

    :global .slick-slide {
        padding: 0 20px;
    }

    :global .slick-list {
        padding: 0;
    }

    img {
        height: 35vw;
        object-fit: contain;
    }
}

.slider-nav {
    height: 35vw;
    overflow: hidden;

    :global .slick-slide {
        padding: 0;
    }

    :global .slick-list {
        padding: 0;
        overflow: visible;
    }

    img {
        object-fit: cover;
        object-position: top right;
    }

}

.slick-arrow-prev, .slick-arrow-next {
    position: absolute;
    top: 50%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0px 3px 15px 0px rgba(42, 6, 184, 0.25);
    background: #171831;
    z-index: 2;
    cursor: pointer;
}

.slick-arrow-prev {
    transform: translateY(-50%) rotate(90deg);
    left: 10px;
}

.slick-arrow-next {
    transform: translateY(-50%) rotate(-90deg);
    right: 10px;
}

.description {
    margin: 0 auto;
    max-width: 80%;
    font-size: 16px;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
}

.description p {
    margin-bottom: 0 !important;
    max-width: 100%;
}

.features-table, .distance-table {
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
    border-collapse: collapse;
    text-align: left;
}

.features-table tr td, .distance-table tr td {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 15px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
}

.features-table tr td:first-of-type, .distance-table tr td:first-of-type {
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    width: 35%;
}

.close-button {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 35px;
    right: 35px;
    cursor: pointer;
}

.close-button span {
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    width: 30px;
    height: 3px;
    background: rgba(255, 255, 255, 1);
    transform: translateY(-50%) rotateZ(45deg);
}

.close-button span:nth-child(2) {
    transform: rotateZ(-45deg);
}

@media screen and (max-width: 1200px) {
    .images {
        grid-template-columns: minmax(0, 75%) 25%;
    }

    .tab-list, .features-table, .distance-table, .description {
        max-width: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        width: 90vw;
    }

    .name {
        margin-bottom: 40px !important;
    }

    .images {
        grid-template-columns: minmax(0, 1fr);
        margin: 25px auto;
    }


    .slider-nav {
        height: 18vw;

        :global .slick-track {
            display: flex;
            column-gap: 10px;
        }

        :global .slick-track .slick-slide {
            display: flex;
            height: auto;
            align-items: center;
            justify-content: center;
        }
    }

    .slider-for {
        margin-bottom: 20px;

        img {
            height: 45vw;
        }

        :global .slick-track {
            display: flex;
        }

        :global .slick-track .slick-slide {
            display: flex;
            height: auto;
            align-items: center;
            justify-content: center;
        }
    }


    .slick-arrow-prev {
        left: 3px;
    }

    .slick-arrow-next {
        right: 3px;
    }

    .tab-wrapper {
        font-size: 16px;
        padding: 10px 15px;
    }


}

@media screen and (max-width: 580px) {
    .slider-for {
        img {
            height: 100%;
        }

        :global .slick-slide {
            padding: 0;
        }

    }


    .tab-list {
        flex-direction: column;
    }

    .features-table, .distance-table {
        font-size: 16px;
    }

    .close-button {
        top: 15px;
        right: 15px;
    }
}