.what-do-we-do {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    //height: 420px;
    margin-bottom: 150px;
    padding: 50px 50px 50px 0;
    //padding-right: 5em;
    //padding-left: 400px;
    position: relative;
    background-image:
            //url("../../../../assets/SVG/vertical ellipse.svg"),
            //url("../../../../assets/SVG/vertical ellipse.svg"),
            linear-gradient(90deg, var(--gradient-A), var(--gradient-B));
    background-repeat: no-repeat;
    background-position: right 0, right 200px center;

}

.what-do-we-do::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    transform: scaleX(-1);
    background-repeat: no-repeat;
    background-image:
            url("../../../assets/SVG/vertical ellipse.svg"),
            url("../../../assets/SVG/vertical ellipse.svg");
    background-position: left 20% center, left 30% center;
    background-size: 50%, 70%;
}

.what-do-we-do img {
    position: absolute;
    bottom: 0;
    left: -50px;
    width: 700px;

}

.text {
    position: relative;
    left: 50%;
    max-width: 40%;
}

.text h2 {
    margin-bottom: 25px !important;
}

.text p {
    font-size: 18px;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.7);
}



@media screen and (max-width: 1200px) {
    .what-do-we-do img {
        width: 600px;
        left: -7%;
    }


    .text p {
        font-size: 16px;
        line-height: 30px;
    }
}


@media screen and (max-width: 1024px) {
    .what-do-we-do img {
        width: 600px;
        left: -24%;
    }

    .text {
        max-width: 450px;
        left: 45%;
    }

    .text p {
        font-size: 16px;
        line-height: 30px;
    }
}

@media screen and (max-width: 768px) {
    .what-do-we-do {
        margin-bottom: 100px;
        padding: 50px 35px;
        text-align: center;
    }

    .what-do-we-do img {
        bottom: 80%;
        left: 50%;
        transform: translateX(-50%);
        width: 85%;
        z-index: -1;
    }

    .text {
        margin: 0 auto;
        max-width: 90%;
        position: relative;
        left: auto;
    }
}

@media screen and (max-width: 480px) {
    .what-do-we-do {
        margin-bottom: 100px;
        padding: 40px 30px;
    }

    .what-do-we-do img {
        width: 100%;
        bottom: 85%;
    }

    .text {
        max-width: 100%;
    }

    .text p {
        font-size: 14px;
        line-height: 26px;
    }
}