.modal {
    position: fixed;
    inset: 0; /* inset sets all 4 values (top right bottom left) much like how we set padding, margin etc., */
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    z-index: 999;
    padding: 40px 20px;
}

.modal-content-wrapper {
    position: relative;
}

.modal-content {
    position: relative;
    padding: 40px 30px;
    color: #fff;
    font-size: 1.7rem;
    border-radius: 8px;
    background-color: var(--background-color);
    z-index: 1;
    text-align: center;
}

.img {
    margin-bottom: 20px;
}

.modal-content h3 {
    max-width: 550px;
    font-size: 40px;
    margin-bottom: 40px;
}

.modal-content p {
    max-width: 550px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.6;
}

.modal-content p:last-of-type {
    margin-bottom: 60px;
}

.modal-content p:first-child:not(:only-child) {
    margin-bottom: 30px;
}

:global(.buttons) {
    display: flex;
    justify-content: center;
    gap: 10px;
}

@media screen and (max-width: 1200px) {
    .modal-content {
        padding: 30px 20px;
    }
}


@media screen and (max-width: 768px) {
    .modal-content {
        padding: 20px 15px;
    }

    .img {
        width: 145px;
        height: 145px;
        margin-bottom: 0;
    }

    .modal-content h3 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .modal-content p {
        font-size: 14px;
    }


    .modal-content p:last-of-type {
        margin-bottom: 40px;
    }

    .buttons button {
        padding: 10px 25px;
    }
}

@media screen and (max-width: 480px) {
    .img {
        width: 125px;
        height: 125px;
    }

    .modal-content p:last-of-type {
        margin-bottom: 30px;
    }
}