.accordion-item {
    max-width: 800px;
    height: 65px;
    position: relative;
    margin: 0 auto;
    padding: 20px;
    backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.07);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.02);
    box-shadow: 0px 108px 131px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: height ease 0.4s;
}

.title {
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 600;
}

.content {
    font-size: 16px;
    line-height: 30px;
    color: var(--semi-white);
}

.chevron {
    position: absolute;
    top: 28px;
    right: 20px;
    transition: 0.4s all;
    //transform: rotate(180deg);
}

.chevron.isOpen {
    transform: rotate(180deg);
}

.isOpen path {
    transition: 0.4s all;
    stroke: rgba(124, 85, 254, 1)
}