.accordion-item {
    position: relative;
    margin: 0 auto;
    padding: 0 40px 0px 30px;
    backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.07);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.02);
    box-shadow: 0 108px 131px 0 rgba(0, 0, 0, 0.25);
    transition: height ease 0.4s;
    cursor: pointer;
    overflow: hidden;
}

.title {
    height: auto;
    padding: 25px 35px 25px 0;
    font-size: 18px;
    font-weight: 600;
}

.content {
    height: max-content;
    font-size: 16px;
    line-height: 30px;
}

.content > div {
    padding-bottom: 25px;
}


.chevron {
    position: absolute;
    transform: translateY(-50%);
    right: 20px;
    transition: 0.4s all;
}

.chevron.isOpen {
    transform: rotate(180deg);
}

.isOpen path {
    transition: 0.4s all;
    stroke: rgba(124, 85, 254, 1)
}

.isFaq {
    color: var(--semi-white);
}

.level-label {
    font-size: 18px;
    font-weight: 600;
    padding-left: 15px;
    margin-bottom: 15px;
    display: none;
}

@media screen and (max-width: 768px) {
    .accordion-item {
        padding: 0 15px 0 15px;
    }

    .title {
        padding: 15px 30px 15px 0;
        font-size: 16px;
    }

    .content {
        font-size: 14px;
    }
}

@media screen and (max-width: 580px) {
    .level-label {
        display: block;
    }

    .title {
        font-size: 14px;
    }
}