.partner-program {
    padding-top: 85px;
    background-image: radial-gradient(circle at center 1800px, rgba(23,46,164,0.35) 0%, rgba(22,119,255,0) 35%);
}

@media screen and (max-width: 1200px) {
    .partner-program {
        padding-top: 35px;
    }
}

@media screen and (max-width: 480px) {
    .partner-program {
        padding-top: 15px;
    }
}