.presentation {
    width: 100%;
    height: 400px;
    display: flex;
    background: linear-gradient(90deg, var(--gradient-A), var(--gradient-B));
    margin-bottom: 100px;
}

.presentation-wrapper {
    display: flex;
    align-items: center;
}

.information {
    max-width: 350px;
}

.information h2{
    margin-bottom: 25px;
}

.information p {
    margin-bottom: 25px;
    line-height: 30px;
}

.macbook {
    position: relative;
    top: -50px;
}
