.language {
    margin-right: 15px;
    display: flex;
}

.language img {
    margin-right: 10px;
}

.test {
    width: 100px;
    background-color: white;
}

@media screen and (max-width: 768px){
    .language {
        margin-right: 0;
    }
}