.sign-in {
    text-align: center;
    padding: 100px 0 120px 0;
    //height: 100vh;
    background-image:
            radial-gradient(circle at center 900px, rgba(23,46,164,0.45) 0%, rgba(22,119,255,0) 70%),
            url('../../assets/SVG/Ellipse.svg'),
            url('../../assets/SVG/Ellipse.svg');

    background-repeat: no-repeat, no-repeat;
    background-size: 100%, 70%;
    background-position: center 230px, center 430px;
}

.subtitle {
    color: var(--semi-white);
    margin-bottom: 100px;
}


.sign-in-form {
    max-width: 450px;
    margin: 0 auto;
}

.sign-in-form div:not(:last-child) {
    margin-bottom: 20px;
}

.sign-in-form label {
    color: rgba(255, 255, 255, 0.4) !important;
}

.password-input {
    position: relative;
}

.eye-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 7px;
    top: 10px;
    cursor: pointer;
}

.eye-icon path {
    fill: rgba(255, 255, 255, 0.3);
}

.active-eye path {
    fill: rgba(255, 255, 255, 1);
}

.sign-in-error {
    position: relative;
    top: -20px;
    text-align: left;
    //margin-bottom: 10px !important;
}

.remember-me {
    display: flex;
    align-items: center;
    text-align: left;
    color: var(--semi-white);
    margin-bottom: 40px !important;
}

.remember-me input {
    //border-radius: 5;
    border: 1px solid rgba(255, 255, 255, 0.08);
    width: 17px;
    height: 17px;
}

.remember-me input {
    margin-right: 10px;
}

.log-in-button {
    width: 100%;
}

.log-in-button:disabled {
    background: #e9e9e9;
    color: #858585;
    cursor: not-allowed;
}

.forgot-password {
    display: inline-block;
    text-align: left;
    margin-bottom: 20px;
    background: linear-gradient(90deg, var(--gradient-A), var(--gradient-B));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    cursor: pointer;
}

.forgot-password-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgot-password-input {
    width: 70%;
    padding: 5px 0;
    font-size: 18px;
    font-family: inherit;
    border: none;
    color: white;
    border-bottom: 3px solid var(--gradient-A);
    background: none;
    outline: none;
    margin-bottom: 55px;
}

.message {
    display: none;
}

.success-message {
    color: #38f948 !important;
    display: block;
}

.error-message {
    color: #fc2f2f !important;
    display: block;
}

.dont-have-account {
    display: block;
    margin-bottom: 40px;
    background: linear-gradient(90deg, var(--gradient-A), var(--gradient-B));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}

.close-button {
    width: 22px;
    height: 22px;
    position: absolute;
    right: 10px;
    top: 20px;
    cursor: pointer;
}

.close-button span {
    display: block;
    width: 2px;
    height: 22px;
    background: white;
}

.close-button span:nth-child(1) {
    transform: rotateZ(45deg);
}

.close-button span:nth-child(2) {
    transform: rotateZ(-45deg);
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (max-width: 768px) {
    .sign-in {
        padding: 50px 20px 100px 20px;
    }

    .sign-in h2 {
        font-size: 34px;
        margin-bottom: 15px !important;
    }
}