.header {
    display: flex;
    align-items: center;
    padding: 25px 0;

}

.logotype {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 66px;
    z-index: 11;
}

.logotype svg {
    width: 100%;
    height: 100%;
}

.buttons {
    order: 2;
}

.buttons button {
    display: inline-block;
}

.settings {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: auto;
}

a.sign-in-button {
    margin-right: 20px;
    background: linear-gradient(90deg, rgba(121, 87, 255, 0.2) 0%, rgba(168, 36, 230, 0.2) 100%);
}


@media screen and (max-width: 1200px) {
    .settings {
        width: auto;
    }
}

@media screen and (max-width: 1024px) {
    .header {
        padding: 20px 0px;
    }

    .settings {
        margin-left: auto;
    }
}

@media screen and (max-width: 768px) {
    .logotype {
        width: 150px;
    }

    .buttons {
        display: none;
    }
}