.sign-up-form {
    max-width: 450px;
    margin: 0 auto;
}

.sign-up-form div:not(:last-child) {
    margin-bottom: 30px;
}

.agreement {
    text-align: left;
    margin-bottom: 45px !important;
}

.agreement input {
    margin-right: 10px;
}

.agreement span {
    color: var(--gradient-B);
    font-weight: 500;
    cursor: pointer;
    text-decoration: underline;
}

.sign-up-error {
    position: relative;
    bottom: -15px;
}

.sign-up-error svg {
    width: 25px;
}


.sign-up-button {
    width: 100%;
}

.sign-up-button:disabled {
    background: #e9e9e9;
    color: #858585;
    cursor: not-allowed;
}