.radio-button {
    width: 100%;
    height: 100%;
    display: flex;
}

.radio-button label {
    display: block;
    width: 100%;
    height: 100%;
    padding: 26px;
    font-size: 18px;
    font-weight: 600;
}

.radio-button input {
    opacity: 0;
    position: absolute;
}

.wallet-label {
    margin-left: 15px;
    font-size: 14px;
    font-weight: 400;
}