.progress-wrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.progress {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    //margin-right: 10px;
}

.progress span {
    display: block;
    height: 8px;
    background: linear-gradient(90deg, var(--gradient-A), var(--gradient-B));
    border-radius: 4px;
}

@media screen and (max-width: 768px) {
    //.progress-wrapper {
    //    display: none;
    //}
}