.partners {
    display: grid;
    grid-template-areas:
            "link percentage"
            "user-info user-info"
            "levels levels";
    grid-template-columns: 55% 1fr;
    grid-template-rows: 175px max-content;
    padding: 20px;
    gap: 30px;
}


@media screen and (max-width: 768px) {
    .partners {
        grid-template-columns: 1fr;
        grid-template-areas:
            "link link"
            "percentage percentage"
            "user-info user-info"
            "levels levels";
        grid-template-rows: max-content 150px;
    }
}

@media screen and (max-width: 580px) {
    .partners {
        padding: 10px 15px 15px 15px;
    }
}